In [ ]:
import os
import sys
import io
import boto3 as b3
import pandas as pd
import numpy as np
import configparser

In [ ]:
%load_ext sql

In [ ]:
## configura coneccion a RDS
DB_ENDPOINT='dbfinal.c4cjdmjtnvdd.us-east-1.rds.amazonaws.com'
DB='dbfinal'
DB_USER='admin'
DB_PASSWORD='fINAL123+'
DB_PORT='3306'

In [ ]:
mysql_conn = 'mysql+pymysql://{}:{}@{}/{}'.format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB)

In [ ]:
##leemos de la Base de Datos y creamos el Dataframe principal del que se armaran los demas

In [ ]:
%sql $mysql_conn

In [ ]:
sql_query = 'select * from DatosCrudos'
dfDatosCrudos = pd.read_sql(sql_query,mysql_conn)

In [ ]:
Filas_dfDC,Cols_dfDC = dfDatosCrudos.shape
print(Filas_dfDC)
print(Cols_dfDC)

## Creamos la dimension Empledos leyendo del DF principal

In [ ]:
%%sql
drop table if exists py_dim_empleado

In [ ]:
## crea tabla dimension PY_DIM_EMPLEADO

dfDim_Empleado = dfDatosCrudos.loc[: , ['CodigoVendedor','NombreVendedor']]

dfDim_Empleado = dfDim_Empleado.drop_duplicates()

dfDim_Empleado.to_sql(con=mysql_conn, name='py_dim_empleado', index = False, if_exists='append')

In [ ]:
%%sql
ALTER TABLE py_dim_empleado ADD PRIMARY KEY (CodigoVendedor);
ALTER TABLE py_dim_empleado ADD INDEX (CodigoVendedor);

## Creamos la dimension Clientes leyendo del DF principal

In [ ]:
dfDatosCrudos['NombreCliente'] = dfDatosCrudos['NombreCliente'].str.replace('á','a')
dfDatosCrudos['NombreCliente'] = dfDatosCrudos['NombreCliente'].str.replace('é','e')
dfDatosCrudos['NombreCliente'] = dfDatosCrudos['NombreCliente'].str.replace('í','i')
dfDatosCrudos['NombreCliente'] = dfDatosCrudos['NombreCliente'].str.replace('ó','o')
dfDatosCrudos['NombreCliente'] = dfDatosCrudos['NombreCliente'].str.replace('ú','u')
dfDatosCrudos['NombreCliente'] = dfDatosCrudos['NombreCliente'].str.replace('ñ','n')

In [ ]:
%%sql
drop table if exists py_dim_cliente

In [ ]:
## crea tabla dimension PY_DIM_CLIENTE

dfDim_Cliente = dfDatosCrudos.loc[: , ['ClienteUnico','NombreCliente','DPI']]

dfDim_Cliente = dfDim_Cliente.drop_duplicates()#keep=False)

dfDim_Cliente.to_sql(con=mysql_conn, name='py_dim_cliente', index = False, if_exists='append')

In [ ]:
%%sql
ALTER TABLE py_dim_cliente MODIFY COLUMN ClienteUnico varchar(20);
ALTER TABLE py_dim_cliente ADD PRIMARY KEY (ClienteUnico);
ALTER TABLE py_dim_cliente ADD INDEX (ClienteUnico);

## Creamos la dimension Producto del DF principal

In [ ]:
dfDatosCrudos['ProductoDescripcion'] = dfDatosCrudos['ProductoDescripcion'].str.replace('á','a')
dfDatosCrudos['ProductoDescripcion'] = dfDatosCrudos['ProductoDescripcion'].str.replace('é','e')
dfDatosCrudos['ProductoDescripcion'] = dfDatosCrudos['ProductoDescripcion'].str.replace('í','i')
dfDatosCrudos['ProductoDescripcion'] = dfDatosCrudos['ProductoDescripcion'].str.replace('ó','o')
dfDatosCrudos['ProductoDescripcion'] = dfDatosCrudos['ProductoDescripcion'].str.replace('ú','u')
dfDatosCrudos['ProductoDescripcion'] = dfDatosCrudos['ProductoDescripcion'].str.replace('ñ','n')

In [ ]:
%%sql
drop table if exists py_dim_producto

In [ ]:
## crea tabla dimension PY_DIM_PRODUCTO

dfDim_Producto = dfDatosCrudos.loc[: , ['ProductoID','ProductoDescripcion']]

dfDim_Producto = dfDim_Producto.drop_duplicates()

dfDim_Producto.to_sql(con=mysql_conn, name='py_dim_producto', index = False, if_exists='append')

In [ ]:
%%sql
ALTER TABLE py_dim_producto ADD PRIMARY KEY (ProductoID);
ALTER TABLE py_dim_producto ADD INDEX (ProductoID);

## Leemos desde S3 los archivos relacionados con Geografia y Red de Sucursales

In [ ]:
## NOS CONECTAMOS A S3
secrete = '3NE/bUny/ZUrqEKLAVdzgBsXWh5U9/LuGoyg23T+'
access = 'AKIAZUS26RLDWE5M3SUW'

s3 = b3.resource(
    service_name = 's3',
    region_name = 'us-east-1',
    aws_access_key_id = access,
    aws_secret_access_key = secrete
)

S3_BUCKET_NAME = 's3final2022'

STRES = b3.client('s3',aws_access_key_id=access,aws_secret_access_key=secrete)

#Carga desde S3 el archivo de Geografia de Guatemala
S3_FILE = 'Geo_Guatemala.xlsx'
obj = STRES.get_object(Bucket=S3_BUCKET_NAME, Key=S3_FILE)
data = obj['Body'].read()
dfGeoGT =pd.read_excel(io.BytesIO(data))

#Carga desde S3 el archivo de Geografia de Red de Agencias
S3_FILE = 'GeografiaRed.xlsx'
obj = STRES.get_object(Bucket=S3_BUCKET_NAME, Key=S3_FILE)
data = obj['Body'].read()
dfGeoRed =pd.read_excel(io.BytesIO(data))

### Llena la tabla de Geografia_gt

In [ ]:
%%sql
drop table if exists py_geografia_gt

In [ ]:
## LLENAR tabla GEOGRAFIA_GT CON LA INFO DEL ARCHIVO LEIDO DESDE S3
dfGeoGT = dfGeoGT.drop_duplicates()
dfGeoGT.to_sql(con=mysql_conn, name='py_geografia_gt', index = False, if_exists='append')

In [ ]:
%%sql
ALTER TABLE py_geografia_gt ADD PRIMARY KEY (CodigoPostal);

### Llena la tabla de Geografia_red

In [ ]:
%%sql
drop table if exists py_geografia_red

In [ ]:
## LLENAR tabla GEOGRAFIA_RED CON LA INFO DEL ARCHIVO LEIDO DESDE S3
dfGeoRed = dfGeoRed.drop_duplicates()
dfGeoRed.to_sql(con=mysql_conn, name='py_geografia_red', index = False, if_exists='append')

In [ ]:
%%sql
ALTER TABLE py_geografia_red ADD PRIMARY KEY (Cod_Suc);

### Dimension Sucursal combinando la jerarquia Zona/Territorio/Region/Sucursal

### creamos la jerarquia de zona

In [ ]:
%%sql
drop table if exists py_dim_zona

In [ ]:
dfDim_Zona = dfGeoRed.loc[: , ['CodZona','Zona_suc']]

dfDim_Zona = dfDim_Zona.drop_duplicates()

dfDim_Zona.to_sql(con=mysql_conn, name='py_dim_zona', index = False, if_exists='append')

In [ ]:
%%sql
ALTER TABLE py_dim_zona ADD PRIMARY KEY (CodZona);

### creamos la jerarquia de territorios

In [ ]:
%%sql
drop table if exists py_dim_territorio

In [ ]:
dfDim_Territorio = dfGeoRed.loc[: , ['CodTerritorio','Territorio_suc','Territorial_suc','CodZona']]

dfDim_Territorio = dfDim_Territorio.drop_duplicates()

dfDim_Territorio.to_sql(con=mysql_conn, name='py_dim_territorio', index = False, if_exists='append')

In [ ]:
%%sql
ALTER TABLE py_dim_territorio ADD PRIMARY KEY (CodTerritorio);

### creamos la jerarquia de regiones

In [ ]:
%%sql
drop table if exists py_dim_region

In [ ]:
dfDim_Region = dfGeoRed.loc[: , ['CodRegion','Región_suc','Regional_suc','CodTerritorio']]

dfDim_Region = dfDim_Region.drop_duplicates()

dfDim_Region.to_sql(con=mysql_conn, name='py_dim_region', index = False, if_exists='append')

In [ ]:
%%sql
ALTER TABLE py_dim_region ADD PRIMARY KEY (CodRegion);

### creamos la dimension de sucursales

In [ ]:
%%sql
drop table if exists py_dim_sucursal

In [ ]:
dfDim_Sucursal = dfGeoRed.loc[: , ['Cod_Suc','Nombre_Suc','Formato_suc','Dirección_Suc','CP_Suc','CodRegion']]

dfDim_Sucursal = dfDim_Sucursal.drop_duplicates()

dfDim_Sucursal.to_sql(con=mysql_conn, name='py_dim_sucursal', index = False, if_exists='append')

In [ ]:
%%sql
ALTER TABLE py_dim_sucursal ADD PRIMARY KEY (Cod_Suc);
ALTER TABLE py_dim_sucursal ADD INDEX (Cod_Suc);

### creamos la jerarquia de sucursales

In [ ]:
%%sql
drop table if exists py_jerarquia_sucursales

In [ ]:
dfDim_Red = dfDim_Zona.merge(dfDim_Territorio, left_on='CodZona', right_on='CodZona')
dfDim_Red = dfDim_Red.merge(dfDim_Region, left_on='CodTerritorio',right_on='CodTerritorio')
dfDim_Red = dfDim_Red.merge(dfDim_Sucursal, left_on='CodRegion',right_on='CodRegion')

ColumnTitles = ['Cod_Suc','Nombre_Suc','Direccion_Suc','Formato_Suc','CP_Suc','CodRegion','Region_Suc','Regional_Suc','CodTerritorio','Territorio_suc','Territorial_suc','CodZona','Zona_suc']
dfDim_Red = dfDim_Red.reindex(columns=ColumnTitles)

In [ ]:
dfDim_Red.to_sql(con=mysql_conn, name='py_jerarquia_sucursales', index = False, if_exists='append')

In [ ]:
%%sql
ALTER TABLE py_jerarquia_sucursales ADD PRIMARY KEY (Cod_Suc,CodRegion,CodTerritorio,CodZona);
ALTER TABLE py_jerarquia_sucursales ADD INDEX (cod_suc);

### Creamos la Fact Table

In [ ]:
%%sql
drop table if exists py_fact_table

In [ ]:
%%sql
create table py_fact_table
(
   ClienteUnico varchar(20) not null,
   NumeroPedido int not null,
    ProductoID bigint not null,
    CodigoVendedor bigint not null,
    Cod_Sucursal bigint not null,
    PlazoFinanciamiento tinyint not null,
    MontoVenta int not null,
    SobrePrecio int not null,
    TotalFinanciado int not null,
    primary key (fecha,ClienteUnico,NumeroPedido,ProductoID,TotalFinanciado)
    ,constraint fk_ClienteUnico2 FOREIGN KEY (ClienteUnico) references py_dim_cliente(ClienteUnico) on delete restrict on update cascade
    ,constraint fk_ProductoID2 FOREIGN KEY (ProductoID) references py_dim_producto(ProductoID) on delete restrict on update cascade
    ,constraint fk_CodigoVendedor2 FOREIGN KEY (CodigoVendedor) references py_dim_empleado(CodigoVendedor) on delete restrict on update cascade
    ,constraint fk_CodigoSucursal2 FOREIGN KEY (Cod_Sucursal) references py_dim_sucursal(Cod_Suc) on delete restrict on update cascade
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

In [ ]:
Filas_dfDC,Cols_dfDC = dfDatosCrudos.shape
print(Filas_dfDC)
print(Cols_dfDC)

In [ ]:
dfFact_Table = dfDatosCrudos.loc[: , ['fecha','ClienteUnico','NumeroPedido','ProductoID','CodigoVendedor','Cod_Sucursal','PlazoFinanciamiento','MontoVenta','SobrePrecio','TotalFinanciado']]

dfFact_Table = dfFact_Table.drop_duplicates()

dfTotal = dfFact_Table.merge(dfDim_Empleado, left_on = 'CodigoVendedor', right_on = 'CodigoVendedor')
dfTotal = dfTotal.merge(dfDim_Cliente, left_on = 'ClienteUnico', right_on = 'ClienteUnico')
dfTotal = dfTotal.merge(dfDim_Producto, left_on = 'ProductoID', right_on = 'ProductoID')
dfTotal = dfTotal.merge(dfDim_Sucursal, left_on = 'Cod_Sucursal', right_on = 'Cod_Suc')

dfFact_Table = dfTotal.loc[: , ['fecha','ClienteUnico','NumeroPedido','ProductoID','CodigoVendedor','Cod_Sucursal','PlazoFinanciamiento','MontoVenta','SobrePrecio','TotalFinanciado']]
filasff,colsff = dfFact_Table.shape
print(filasff)
print(colsff)

#cargamos el dfFact_Table por secciones
dfFact_Table_01 = dfFact_Table.iloc [0:50000 , ]
dfFact_Table_02 = dfFact_Table.iloc [50001:100000 , ]
dfFact_Table_03 = dfFact_Table.iloc [100001:150000 , ]
dfFact_Table_04 = dfFact_Table.iloc [150001:178735 , ]

dfFact_Table.to_sql(con=mysql_conn, name='py_fact_table', index = False, if_exists='append')

In [ ]:
%%sql
ALTER TABLE py_fact_table MODIFY COLUMN ClienteUnico varchar(20);
ALTER TABLE py_fact_table ADD PRIMARY KEY (fecha,ClienteUnico,NumeroPedido,ProductoID,TotalFinanciado);

# Trabajando con Redshift

In [ ]:
config = configparser.ConfigParser()
config.read_file(open('dw_con.cfg'))

In [ ]:
ENDPOINT = config.get('REDSHIFT', 'HOST')
DB_USER = config.get('REDSHIFT', 'DB_USER')
DB_PASSWORD = config.get('REDSHIFT', 'DB_PASSWORD')
DB_PORT = config.get('REDSHIFT', 'DB_PORT')
DB_NAME = config.get('REDSHIFT', 'DB_NAME')

In [ ]:
redshift_conn_string = "postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, ENDPOINT, DB_PORT, DB_NAME)
print(redshift_conn_string)

In [ ]:
%sql $redshift_conn_string

In [ ]:
from sqlalchemy import create_engine

In [ ]:
conn = create_engine(redshift_conn_string)

### A continuación todas las tablas inician con py ya que fueron generadas con Python

In [ ]:
#cargamos a py_dim_empleado
dfDim_Empleado.to_sql('py_dim_empleado', conn, index=False, if_exists='append', method='multi')

In [ ]:
#cargamos a py_dim_cliente
dfDim_Cliente.to_sql('py_dim_cliente', conn, index=False, if_exists='append', method='multi')

In [ ]:
#cargamos a py_dim_producto
dfDim_Producto.to_sql('py_dim_producto', conn, index=False, if_exists='append', method='multi')

In [ ]:
#cargamos a py_geografia_gt
dfGeoGT.to_sql('py_geografia_gt', conn, index=False, if_exists='append', method='multi')

In [ ]:
#cargamos a py_geografia_red
dfGeoRed.to_sql('py_geografia_red', conn, index=False, if_exists='append', method='multi')

In [ ]:
#cargamos a py_dim_zona
dfDim_Zona.to_sql('py_dim_zona', conn, index=False, if_exists='append', method='multi')

In [ ]:
#cargamos a py_dim_territorio
#dfDim_Territorio.to_sql('py_dim_territorio', conn, index=False, if_exists='append', method='multi')

In [ ]:
#cargamos a py_dim_region
dfDim_Region.to_sql('py_dim_region', conn, index=False, if_exists='append', method='multi')

In [ ]:
#cargamos a py_dim_sucursal
dfDim_Sucursal.to_sql('py_dim_sucursal', conn, index=False, if_exists='append', method='multi')

In [ ]:
#cargamos a py_jerarquia_sucursales
dfDim_Red.to_sql('py_jerarquia_sucursales', conn, index=False, if_exists='append', method='multi')

In [ ]:
#cargamos a py_fact_table
dfFact_Table_04.to_sql('py_fact_table', conn, index=False, if_exists='append', method='multi')